.article_content {
	font-family: 'Slabo 29px', serif;
}

.section {
	text-align: justify;
	background-color: rgb(249, 249, 249);
	margin: auto;
	padding: 0px;
}

.article_header {
	text-align: center;
}

.profile_image {
	padding: 15px;
}

.pager {
	margin: 5px;
}

.navbar-nav {
	float: right;
}

.body {
	background-color: rgb(226, 226, 226);
}

.email_header {
	padding-top: 25px;
}

.telephone_header {
	padding-top: 25px;
}

.social_media {
	padding-bottom: 5px;
}

.mail_me {
	padding-bottom: 10px;
}

.footer {
	background-color: #DCEDC8;
	margin-bottom: 10px;
	color: #000000;
	padding: 10px;
}

.copyright_msg_container {
	background-color: black;
	padding: 5px;
}

.copyright_msg {
	color: white;
	font-size: 10px;
	text-align: center;
	margin: 0px;
}

.list-group-item {
	padding: 0px;
	background-color: black;
}

.list-group {
	background-color: black;
	padding: 0px;
	margin: 0px;
	box-shadow: none;
}

.navbar-inverse .navbar-nav li a {
	color: white;
}

.navbar-inverse .navbar-nav li a:hover {
	background-color: navy;
}

.dropdown-menu li a {
	color: white;
	font-size: medium;
}