.title {
	font-family: 'Merriweather', serif;
	color: #311B92;
	border-bottom: 1px solid black;
	text-align: center;
}

.signup_body {
	width: 500px;
	max-width: 90%;
	margin: auto;
	background-color: rgb(220, 237, 200);
}

.signup_table {
	padding: 15px;
	width: 100%;
}

.signup_row_un {
	padding: 30px 0px 10px 0px;
}

.signup_row_pass {
	padding: 10px 0px 10px 0px;
}

.signup_label {
	text-align: left;
}

input#username {
	width: 100%;
	border-radius: 5px;
	background-color: rgb(250, 255, 189);
	border-radius: 5px;
}

input#password {
	width: 100%;
	border-radius: 5px;
	background-color: rgb(250, 255, 189);
}

.submit {
	padding-top: 10px;
}

.btn_submit {
	text-align: center;
}

.signup_section {
	padding-bottom: 30px;
	border-bottom: 1px solid black;
}